.hero {
    background: url(https://images.unsplash.com/photo-1618426018046-77564bc4b0eb?q=80&w=1173&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 60vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}
.actions {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.btn {
    display: inline-block;
    border: 2px solid black;
    padding: 8px 12px;
    text-decoration: none;
    color: navy;
}
.main {
    background-color: black;
    color: antiquewhite;
}
